.header {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.img {
  border-radius: 50%;
  width: 20%;
  margin-left: 20px;
}
